<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-4">
      <h2 class="footer-heading">TruckShruk</h2>
    </div>
    <div class="col-lg-8 align-Left footer-right">
      <p class="footer-description">TruckShruk is a Logistics aggregator offering On-demand Transportation solutions to cater to all your goods movement in both full load and part load capacity. We aim to deliver quality service at a competitive price and
        back up every shipment with the latest technology & outstanding customer service. We are proud to say that our modernistic way of truck hiring service & fleet solutions bestow the way people used to hire transport solutions and our
        mobile-enabled technology. <a href="/about">Read More.</a> </p>
      <a type="button" href="#" class="btn btn-outline-light btn-lg btn-footer">Contact Sales</a>
      <a type="button" href="/estimate" class="btn btn-outline-light btn-lg btn-footer">Check Price</a>
      <a type="button" href="/tracking" class="btn btn-outline-light btn-lg btn-footer">Track Order</a>

    </div>
    <hr class="divider">
    <div class="footer-credits">
      <a href="http://www.twitter.com" target=_blank><i class="social-media-btn fab fa-twitter fa-2x"></i></a>
      <a href="http://www.facebook.com" target=_blank><i class="social-media-btn fab fa-facebook-f fa-2x"></i></a>
      <a href="http://www.linkedin.com" target=_blank><i class="social-media-btn fab fa-linkedin-in fa-2x"></i></a>
      <a href="http://www.instagram.com" target=_blank><i class="social-media-btn fab fa-instagram fa-2x"></i></a>
      <a href="http://www.youtube.com" target=_blank><i class="social-media-btn fab fa-youtube fa-2x"></i></a>
      <p>&copy; 2021 TruckShruk Pvt. Ltd.</p>
    </div>
  </div>
  <a href="#">
    <p class="scrollTop align-Right">Scroll to top</p>
  </a>
</div>
</body>

</html>
