<div class=" container-fluid top-container">
  <div class="row booking-top">


  <div class="col-sm-1">

  </div>
  <div class="col-md-4">
    <h1 class="city"><%=locationName.pickup%></h1>
  </div>
  <div class="col-sm-2">
    <i class="fas fa-arrow-right fa-3x"></i>
  </div>
  <div class="col-md-4">
    <h1 class="city"><%=locationName.drop%></h1>

  </div>
  <div class="col-sm-1">

  </div>
</div>
</div>
